<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
    <g id="icon--streams-copy">
      <path d="M0 0L24 0L24 24L0 24L0 0Z" id="Rectangle" fill="#FFFFFF" fill-opacity="0" fill-rule="evenodd" stroke="none" />
      <g id="Group-26" transform="translate(2 2)">
        <path d="M4.54545 9.09091C7.05584 9.09091 9.09091 7.05584 9.09091 4.54545C9.09091 2.03507 7.05584 0 4.54545 0C2.03507 0 0 2.03507 0 4.54545C0 7.05584 2.03507 9.09091 4.54545 9.09091Z" transform="translate(5.4545455 5.4545455)" id="Oval" fill="none" fill-rule="evenodd" stroke="#FFFFFF" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M0.454545 0L0.454545 1.81818" transform="translate(9.545455 0)" id="Path" fill="none" fill-rule="evenodd" stroke="#FFFFFF" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M0.454545 0L0.454545 1.81818" transform="translate(9.545455 18.181818)" id="Path" fill="none" fill-rule="evenodd" stroke="#FFFFFF" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M0 0L1.29091 1.29091" transform="translate(2.9272728 2.9272728)" id="Path" fill="none" fill-rule="evenodd" stroke="#FFFFFF" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M0 0L1.29091 1.29091" transform="translate(15.781818 15.781818)" id="Path" fill="none" fill-rule="evenodd" stroke="#FFFFFF" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M0 0.454545L1.81818 0.454545" transform="translate(0 9.545455)" id="Path" fill="none" fill-rule="evenodd" stroke="#FFFFFF" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M0 0.454545L1.81818 0.454545" transform="translate(18.181818 9.545455)" id="Path" fill="none" fill-rule="evenodd" stroke="#FFFFFF" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M0 1.29091L1.29091 0" transform="translate(2.9272728 15.781818)" id="Path" fill="none" fill-rule="evenodd" stroke="#FFFFFF" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M0 1.29091L1.29091 0" transform="translate(15.781818 2.9272728)" id="Path" fill="none" fill-rule="evenodd" stroke="#FFFFFF" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
      </g>
    </g>
  </svg>