@import "../../styles/colors.scss";
.container {
    padding-top: 8px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
    margin-top: 20px;

    label {
        // display: inline-block;
        display: block;
        margin-bottom: 5px;
    }

    input {
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--white);
        font-size: 14px;
    }
}