<app-icons [name]="'close'" class="close-icon" (click)="onClose()"></app-icons>
<h1 mat-dialog-title>Move to Another Team</h1>
<div mat-dialog-content>
    <div class="space-between">
        <label>TEAM MEMBER</label>
        <app-avatar [name]="data.name" [username]="data.name" [showName]="false"></app-avatar>
    </div>
    <div class="space-between">
        <label>VALUE STREAM</label>
        <app-select [options]="streams" (valueChange)="sg.streamChange($event); newStream($event);"></app-select>
    </div>
    <div class="space-between">
        <label>GROUP NAME</label>
        <app-select [options]="groups" (valueChange)="sg.groupChange($event); newGroup($event);"></app-select>
    </div>
    <div class="space-between">
        <label>TEAM NAME</label>
        <app-select [options]="teams" (valueChange)="newTeam($event)"></app-select>
    </div>
</div>

<app-sh-select-groups [data]="treeData!" #sg (selectsChange)="setSelects($event)"></app-sh-select-groups>

<div mat-dialog-actions class="actions">
  <app-button (click)="openMoveConfirmDialog()" [disabled]="disabled">Move</app-button>
</div>
