@import '../../styles/colors.scss';

:host {
    display: inline-block;
    >div {
        >* {
            display: flex;
        }
    }

    ::ng-deep {
        .black {
            svg {
                path:not([stroke="none"]) {
                    stroke: black;
                }
            }
        }
    }
}
