@import "../../styles/colors.scss";
@import "../../styles/mixin.scss";

:host {
    // display: block;
    // height: 100%;

    ::ng-deep {
      ng-scrollbar.scroll-event {
        // --scrollbar-size: 8px;
        --scrollbar-size: 0;
        --scrollbar-thumb-color: gray;
        --scrollbar-hover-size: 12px;
        --scrollbar-track-color: rgba(0, 0, 0, 0.05);
        --scrollbar-border-radius: 10px;
    
        // border-radius: 3px;
        // border: 2px solid rgba(0, 0, 0, 0.05);
      }
    }
}




  mat-tree {
    // background-color: gray;
    background-color: $background-main-level2;
  }

mat-tree-node {
  &:hover {
    background-color: $background-main-level3;
    // background-color: red;
  }
  height: 40px;
  min-height: 40px;
  cursor: pointer;
  color: var(--white);

  // &::before {
  //   position: absolute;
  //   left: -10px;
  //   z-index: 10;
  //   content: '';
  //   width: 10px;
  //   height: 40px;
  //   background-color: red;
  // }
}

mat-tree {
  
}
// .mask-wrapper {
//   position: relative;
// }
// .mask {
//   position: absolute;
//   width: 200px;
//   height: 40px;
//   top: -50px;
//   background-color: #ff000000;
// }

.toggle-icon {
  margin-right: 5px;
}

button {
  // height: 100%;
  // width: 100%;
  // &:hover {
  //   background-color: red;
  // }
}