<div class="container">
    <div class="top">
        <app-icons class="project-icon" [name]="'y'"></app-icons>
        <div *ngFor="let item of menus" (click)="menuClick(item)" class="item" [class.selected]="item.label===selected.label" [class.light]="themeMode==='light'">
            <div><app-icons [iconClass]="themeMode==='light'? 'black': ''" [name]="item.icon"></app-icons></div>
            {{item.label}}
        </div>
    </div>

    <div class="bottom">
        <app-icons *ngIf="themeMode==='night'" [name]="'setting'" (click)="changeTheme('light')"></app-icons>
        <app-icons *ngIf="themeMode==='light'" [name]="'moon'" (click)="changeTheme('night')"></app-icons>
        <app-avatar [avatar]="profile.avatar"></app-avatar>
    </div>
</div>

<app-sh-theme-listener [theme]="themeMode"></app-sh-theme-listener>