@import "../../styles/colors.scss";

:host {
    display: block;
    width: 80px;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.project-icon {
    margin-bottom: 30px;
    margin-top: 30px;
}

.top, .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom {

    >* {
        margin-bottom: 20px;
    }
    >*:first-child {
        margin-bottom: 50px;
    }
}

.item {
    margin-top: 30px;
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;

    &.light {
        opacity: 1.0;
    }

    &.selected {
        opacity: 1.0;
    }

    &.light.selected {
        background-color: $red;
    }
}

.selected {

}