<app-icons [name]="'close'" class="close-icon" (click)="onClose()"></app-icons>
<h1 mat-dialog-title>Assign to a Team</h1>
<div mat-dialog-content>
    <div class="avatar-wrapper">
        <app-avatar [name]="data.name" [imageSize]="'big'" [username]="data.name" [showName]="false" [direction]="'column'"></app-avatar>
        <div >{{data.email}}</div>
    </div>
    <div class="flex space-between">
        <app-select [options]="streams" label="VALUE STREAM" (valueChange)="sg.streamChange($event)"></app-select>
    </div>
    <div class="flex space-between">
        <app-select [options]="groups" label="GROUP NAME" (valueChange)="sg.groupChange($event)"></app-select>
        <app-select [options]="teams" label="TEAM NAME"></app-select>
    </div>
    <div class="flex space-between">
        <app-select [options]="vendors" label="Employer"></app-select>
    </div>
</div>

<app-sh-select-groups [data]="treeData!" #sg (selectsChange)="setSelects($event)"></app-sh-select-groups>

<div mat-dialog-actions>
  <app-button (click)="onClose()">Assign</app-button>
</div>
