@import "../../styles/colors.scss";

.card {
    @include theme-primary-level2;
    // background-color: gray;
    
    
    border-radius: 5px;

    &.margin {
        margin: 20px 30px;
    }
    &.padding {
        padding: 20px;
    }
}