<div class="flex container" [class.column]="direction==='column'">
    <div *ngIf="!avatar && imageSize!=='middle'" class="avatar" [class.big]="imageSize==='big'" [ngStyle]="{'background-color': randomColor}">{{avatarPlaceHolder}}</div>
    <div *ngIf="!avatar && imageSize==='middle'" class="avatar" [class.middle]="imageSize==='middle'" [ngStyle]="{'background-color': randomColor}">{{avatarPlaceHolder}}</div>
    <img *ngIf="avatar" class="avatar-image" [class.middle]="imageSize==='middle'" src="{{avatar}}"/>
    <div>
        <div *ngIf="showName">{{_name}}</div>
        <div>{{_username}}</div>
        <div>{{duty}}</div>
    </div>
    
</div>