@import "../../styles/colors.scss";

mat-form-field {
    ::ng-deep {
        .mat-form-field-flex {
            padding: 0;
        }
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }
        .mat-form-field-underline {
            bottom: 0;
        }
        .mat-select-value {
            color: var(--white);
        }
    }
}

mat-select {
    ::ng-deep {
        .mat-select-arrow-wrapper {
            transform: translateY(0);
        }
    }
}

.icon-caret {
    position: absolute;
    display: block;
    width: 15px;
    height: 100%;
    left: auto;
    right: 5px;
}

.container {
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
    position: relative;

    label {
        // display: inline-block;
        display: block;
        margin-bottom: 5px;
    }

    input {
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--white);
        font-size: 14px;
    }
}