<app-icons [name]="'close'" class="close-icon" (click)="onClose()"></app-icons>
<h1 mat-dialog-title>Edit user</h1>
<div mat-dialog-content>
  <app-avatar
    [username]="data.username"
    [name]="data.name"
    [avatar]="data.avatar"
    [showName]="true"
    [direction]="'column'"
    [imageSize]="'big'"
  ></app-avatar>
  <form class="form">
    <app-input [value]="data.email" label="Email Address"></app-input>
    <app-select [options]="options" [label]="'Employer'"></app-select>
  </form>
</div>

<div mat-dialog-actions>
  <button class="button button-primary" (click)="onClose()">Save Changes</button>
  <!-- <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button> -->
</div>
