<app-icons [name]="'close'" class="close-icon" (click)="onClose()"></app-icons>
<h1 mat-dialog-title>Confirmation</h1>
<div mat-dialog-content>
    <p *ngIf="data && data.type === 'delete'" cdkFocusInitial>
        Are you sure you want to delete "{{data.name}}"?
    </p>
    <p *ngIf="data && data.type === 'move'" cdkFocusInitial>
        Are you sure you want to move "{{data.name}}" from stream
        {{data.data.oldPos.stream}} to {{data.data.newPos.stream}}, from group
        {{data.data.oldPos.group}} to {{data.data.newPos.group}}, from team
        {{data.data.oldPos.team}} to {{data.data.newPos.team}}?
    </p>
</div>

<div mat-dialog-actions>
  <button class="button-primary" (click)="onClose()">YES</button>
  <button class="button-primary" [mat-dialog-close]="data">NO</button>
  <!-- <button class="button-primary" [mat-dialog-close]="data" cdkFocusInitial>NO</button> -->
</div>
