@import './mixin.scss';
@import './colors.scss';
.link-button {
    @include link-button();
  }

button {
    // background: transparent;
    border: 0;
    color: var(--white);

    // box-sizing: border-box;
    // cursor: pointer;
    // align-items: center;
    // display: flex;
    // text-decoration: none;
    // outline: none;
    // white-space: nowrap;
}
button:focus {
      outline: 1px solid;
}

button:disabled {
  background-color: gray;
}

.button-primary {
  background-color: $button-main;
  color: var(--white);
  padding: 10px 15px;
}
