<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  aria-label="Example icon-button with a menu"
  class="link-button" 
>
  <mat-icon class="red-icon" >more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu" class="editor-menu-theme-level2">
  <button class="item-button" *ngFor="let action of actions" mat-menu-item (click)="onClick(action)">
    <!-- <mat-icon *ngIf="action==='edit'">dialpad</mat-icon>
    <mat-icon *ngIf="action==='delete'">voicemail</mat-icon>
    <mat-icon *ngIf="action==='moveto'">notifications_off</mat-icon> -->
    <app-icons *ngIf="action==='edit'" [name]="'edit'"></app-icons>
    <app-icons *ngIf="action==='delete'" [name]="'delete'"></app-icons>
    <app-icons *ngIf="action==='moveto'" [name]="'move'"></app-icons>
    <app-icons *ngIf="action==='assignTeam'" [name]="'move'"></app-icons>
    <span *ngIf="action==='edit'">Edit User</span>
    <span *ngIf="action==='delete'">Delete user</span>
    <span *ngIf="action==='moveto'">Move to another team</span>
    <span *ngIf="action==='assignTeam'">Assign to a team</span>
  </button>
</mat-menu>
