<app-sidenav>
    <app-sidenav-drawer>
        <div class="flex tree-wrapper">
                <app-search></app-search>
                <div (click)="mode='unassigned'" class="extra-node">Unassigned Users</div>
                <div (click)="mode='managers'" class="extra-node">Managers</div>
                <app-group-tree (itemClick)="mode='team'"></app-group-tree>
        </div>
    </app-sidenav-drawer>

    <app-sidenav-main>
        <ng-template [ngIf]="mode==='team'">
            <app-card class="main-first">
                <app-team-meta></app-team-meta>
            </app-card>
            
            <app-card class="table-list main-second">
                <div class="flex space-between team-header">
                    <p class="table-count-title">Team Member({{(tableData$|async)?.teamData?.length}})</p>
                    <app-search [candidates]="searchCandidates" (search)="searchImpl($event)"></app-search>
                </div>
                <div class="table-wrapper">
                    <app-team-list></app-team-list>
                </div>
                
            </app-card>
        </ng-template>
        
        <ng-template [ngIf]="mode==='unassigned'">
            <app-card class="table-list main-full">
                <div class="flex space-between team-header">
                    <p class="table-count-title">Unassigned Users({{(tableData$|async)?.unassignedUsersData?.length}})</p>
                    <div class="flex">
                        <app-search [candidates]="searchCandidates" (search)="searchImpl($event)"></app-search>
                        <app-button>sync</app-button>
                    </div>
                </div>
                <div class="table-wrapper">
                    <app-unassigned-user-list></app-unassigned-user-list>
                </div>
                
            </app-card>
        </ng-template>

    </app-sidenav-main>
</app-sidenav>